<div class="wrapper">
  <div class="col">
    <img
      src="../../assets/photos/side-min.png"
      class="profile spread-shadow"
      alt="Nolan Hovis"
    />
    <h3>Nolan Hovis</h3>
    <div class="row">
      <a
        href="https://twitter.com/hovis_nolan"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../assets/Icons/Twitter.svg"
          class="socials"
          alt="twitter"
        />
      </a>
      <a
        href="https://www.instagram.com/nolanhovis/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../assets/Icons/Insta.svg" class="socials" alt="insta" />
      </a>
      <a
        href="https://www.facebook.com/NoblCreative"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../assets/Icons/FaceBook.svg"
          class="socials"
          alt="facebook"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/nolan-hovis-61042b205/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../../assets/Icons/Linkedin.svg"
          class="socials"
          alt="LinkedIn"
        />
      </a>
      <a
        href="https://github.com/NolanHovis"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../assets/Icons/Github.svg" class="socials" alt="github" />
      </a>
    </div>
  </div>
  <div class="col links">
    <h3>Quick Links</h3>
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="projects">Projects</a></li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </div>
</div>
