<div class="wrapper">
  <div class="col">
    <img
      src="../../assets/photos/side-min.png"
      class="profile"
      alt="Nolan Hovis"
    />
    <h3>Nolan Hovis</h3>
    <div class="row">
      <img src="../../assets/Icons/Twitter.svg" class="socials" alt="twitter" />
      <img src="../../assets/Icons/Insta.svg" class="socials" alt="insta" />
      <img
        src="../../assets/Icons/FaceBook.svg"
        class="socials"
        alt="facebook"
      />
      <img
        src="../../assets/Icons/Linkedin.svg"
        class="socials"
        alt="LinkedIn"
      />
      <img src="../../assets/Icons/Github.svg" class="socials" alt="github" />
    </div>
  </div>
  <div class="col links">
    <h3>Quick Links</h3>
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="projects">Projects</a></li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </div>
</div>
