.content {
  margin: 0px 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-title {
  margin-bottom: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: left;
}

summary {
  background-color: var(--dark);
}
