<div class="content">
  <div class="heading">
    <div class="heading-img">
      <img
        src="../../assets/photos/side-min.png"
        alt="Nolan Hovis"
        width="200"
      />
    </div>
    <div class="heading-title">
      <h1>Nolan Hovis</h1>
    </div>
  </div>
  <section class="story">
    <summary>
      <h2>My Story</h2>
      <details>
        <p>
          When I started college I had no idea what I wantend to do. I was
          taking random classes while on a scholarship that payed my tuition at
          a community colleg in Southeast Missouri. I took classes like film
          photography, archaeology, etc. I was trying to find something that I
          liked enough to pursue a career in. One semester, I took an entry
          course to Python without the slightest clue what coding was. Little
          did I know, this would be my career of choice. During the class I fell
          in love with the process of figuring out how to tell a computer to do
          what you want. This led me to pursue a degree in Computer Science. I
          looked at other trade schools and community colleges to find one to
          transfer to, so that I could still use my scholarship. I found a trade
          school in Central Missouri, packed my stuff, and went. This school
          introduced me to the world of programming. During my time there I
          learned the basics of many things like: C#, Java, SQL, HTML, CSS, and
          Javascript. I took all these courses in my first two semesters.
          Towards the end of my second semester the administrators told the
          students to look for a place to do a required internship, so that we
          didn't have to do it "after" we graduated. This threw me for a loop.
          In rural Missouri there are not a lot of tech jobs which, in turn,
          means there is not a lot of internships. As I looked around and
          applied for many, I received "We decided to move on with our search"
          emails for every single one. This was devastating. What was I going to
          do. Around this time my dad sent me a link to a webinar that was
          happening in the next week with a tech company that I never heard of
          that was close to my home town. I attended the webinar, which was for
          their coding bootcamp ironically, and contacted one of the developers
          that spoke during it. I reached out to him with skepticism, looking
          for an internship opportunity. He responded letting me know he would
          talk to his boss and get back with me. I still had a month left in my
          semester so I wasn't pressed for time. After a long month I started to
          pack my things to head back home for the summer, still hadn't heard
          back about the internship. So, I reached out to the developer once
          again and received a response asking me to come to the office for an
          interview. Relief came over me even though I didn't know if it was for
          sure. I went to the interview and we ironed out the details and I was
          to start that day. I came on and the developer I reached out to took
          me under his wings and showed me the ropes. During the internship I
          learned, what felt like, more than I had learned at school. I was able
          to learn how real-world web development was done. Frameworks, Git,
          Pull Requests, you name it, I learned it. The internship was a great
          opportunity for me and I was honestly dreading going back to school.
          Close to the end of my internship I walked in to the office and I was
          asked if I wanted a job teaching what I had learned. "Am I qualified
          for this?" I asked myself and the developers I worked with. They
          reassured me and I told them I would think about it. Even though I did
          not want to go back to school, I did not know what the best option was
          for me. I talked to my parents, thought about it, and accepted the
          job. My first tech job! I dropped out of school and felt good about
          it. I have now been a Code Coach for about a year and I never looked
          back.
        </p>
        <p>
          In conclusion, everyone has their own path. Had I not dropped out of
          school I would've gotten my degree and ended up in, most likely, a
          similar place. So do what you think is best for you right here, right
          now and don't look back.
        </p>
      </details>
    </summary>
  </section>
</div>
