<h1>
  Lets create something <br />
  nobl.
</h1>

<form action="POST" name="contact" data-netlify="true">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
  </div>
  <div class="form-group">
    <label for="service">Service</label>
    <select name="service" id="service">
      <option value disabled selected>Select a Service</option>
      <option value="Design">Design</option>
      <option value="Website Development">Website Development</option>
      <option value="Web Application">Web Application</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Project Description</label>
    <textarea type="text" name="description" id="description"></textarea>
  </div>
  <button class="standard dark" type="submit">Submit</button>
</form>
