<nav>
  <div class="content">
    <div class="logo">
      <h2>nobl</h2>
    </div>
    <div class="list">
      <ul class="nav-list">
        <li routerLink="home" routerLinkActive="active"><a>Home</a></li>
        <li routerLink="services" routerLinkActive="active"><a>Services</a></li>
        <li routerLink="about" routerLinkActive="active"><a>About</a></li>
        <li routerLink="projects" routerLinkActive="active"><a>Projects</a></li>
        <li routerLink="contact" routerLinkActive="active"><a>Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
