<app-mobile-nav></app-mobile-nav>
<app-desktop-nav></app-desktop-nav>
<main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
<app-footer></app-footer>
<form action="POST" name="contact" netlify data-netlify="true" hidden>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
  </div>
  <div class="form-group">
    <label for="service">Service</label>
    <select name="service" id="service">
      <option value disabled selected>Select a Service</option>
      <option value="Design">Design</option>
      <option value="Website Development">Website Development</option>
      <option value="Web Application">Web Application</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Project Description</label>
    <textarea type="text" name="description" id="description"></textarea>
  </div>
  <button class="standard dark" type="submit">Submit</button>
</form>
