<div class="wrapper">
  <div class="mobile-nav">
    <div class="row">
      <div class="col" routerLink="home">
        <div class="icon">
          <img src="../../../assets/Icons/home.svg" alt="home" />
        </div>
        <div class="text">
          <p>Home</p>
        </div>
      </div>
      <div class="col" routerLink="services">
        <div class="icon">
          <img src="../../../assets/Icons/services.svg" alt="services" />
        </div>
        <div class="text">
          <p>Services</p>
        </div>
      </div>
      <div class="col" routerLink="about">
        <div class="icon">
          <img src="../../../assets/Icons/about.svg" alt="about" />
        </div>
        <div class="text">
          <p>About</p>
        </div>
      </div>
      <div class="col" routerLink="projects">
        <div class="icon">
          <img src="../../../assets/Icons/projects.svg" alt="projects" />
        </div>
        <div class="text">
          <p>Projects</p>
        </div>
      </div>
      <div class="col" routerLink="contact">
        <div class="icon">
          <img src="../../../assets/Icons/contact.svg" alt="contact" />
        </div>
        <div class="text">
          <p>Contact</p>
        </div>
      </div>
    </div>
  </div>
</div>
