<div class="container">
  <div class="header">
    <h1>How can we help you?</h1>
    <div class="header-desc">
      <p>
        Nobl creative can help your business in many ways online. The
        descriptions below will give you detailed information about what we do
        and how we do it so you can find out the best way we can help you.
      </p>
    </div>
  </div>
  <hr />
  <div class="content">
    <div class="card spread-shadow">
      <div class="card-title">
        <h2>UI/UX Design</h2>
      </div>
      <div class="card-content">
        <p>
          Designing a site or app with nobl creative will give you the best
          layout of what your site will look like, so that when it is time to
          develop it, your developers can focus on making your site functional
          without having to worry about how it should look. We package your
          designs into a file along with everything a developer would need to
          make it happen. Your package would include all design files for each
          page, the icons needed to fit your sit, color schemes and values, etc.
        </p>
      </div>
    </div>

    <div class="card spread-shadow">
      <div class="card-title">
        <h2>Custom Development</h2>
      </div>
      <div class="card-content">
        <p>
          It can be anything from a landing page for your small business to a
          full fledged web app for you to sell your products. Thats the thing
          about "custom," it can be anything you want. Tailored to your needs
          for an online presence. Nobl creative will take your ideas and make
          them a reality on the web.
        </p>
      </div>
    </div>

    <div class="card spread-shadow">
      <div class="card-title">
        <h2>Continuos Maintenance</h2>
      </div>
      <div class="card-content">
        <p>
          This service will allow you ta have any sort of maintenance done to
          your site whether it be a quick style change or an urgent issue that
          needs attention. I will be a call away to help maintain your site and
          keep it running at peak performance.
        </p>
      </div>
    </div>
    <div class="contact">
      <h2>Get your project rolling!</h2>
      <button class="standard" type="button" routerLink="/contact">
        Contact
      </button>
    </div>
  </div>
</div>
