.container {
  padding-bottom: 40px;
}

.header {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.header-desc {
  margin-top: 8px;
  text-align: center;
  padding: 1rem;
}

hr {
  height: 2px;
  background-color: var(--dark);
  border: none;
  width: 100px;
  margin: 10px 0;
}

.card {
  background-color: var(--dark);
  padding: 40px;
  margin: 20px 0px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and(min-width: 960px) {
  .header-desc {
    width: 550px;
  }
}
