// app-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;
// }

.content {
  box-shadow: 15px 0px 10px rgba(0, 0, 0, 0.301);
}

.section {
  text-align: center;
  padding: 50px 0;
}

.card {
  text-align: left;
  background: var(--dark);
  width: 75%;
  margin: 30px auto;
  padding: 30px;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  width: 150px;
  border-radius: 50%;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}

.icons > img {
  width: 3rem;
  margin: 20px;
}
@media screen and (min-width: 481px) {
}

@media screen and (min-width: 960px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-content.grow {
    display: flex;
    flex-direction: row;
  }

  .section-content.grow > .card {
    width: 30%;
    justify-content: space-between;
  }

  .about-tools {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }

  .about-tools > .section {
    width: 50%;
  }
}
