<app-header></app-header>
<div class="content">
  <div class="section">
    <div class="section-header">
      <h1>How can I help you grow?</h1>
    </div>
    <div class="section-content">
      <div class="card">
        <div class="card-title">
          <h2>UI/UX Design</h2>
        </div>
        <div class="card-content">
          <p>
            I design websites to be responsive, easy, and professional to give
            you an online presence.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <h2>Custom Development</h2>
        </div>
        <div class="card-content">
          <p>
            I can develop a landing page for your small business. As well as a
            web application to aid your business proccess
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <h2>Continuos Maintenance</h2>
        </div>
        <div class="card-content">
          <p>
            I can host, maintain, and update your site or app. When there’s a
            need I’ll be a call away.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <h1>About me.</h1>
    </div>
    <div class="section-content">
      <div class="card">
        <div class="image">
          <img
            src="../../assets/photos/side-min.png"
            class="profile"
            alt="Nolan Hovis"
          />
        </div>
        <div class="card-title"><h2>Nolan Hovis</h2></div>
        <div class="card-content">
          <p>
            I have loved developing for 2 years. I started my journey in school,
            and landed my first job in tech teaching a Javascript framework.
            Teaching allowed me to learn and grow my skills as a developer.<br />I
            have been a freelance designer for 3 years. Designing logos, product
            spreads, and designs for merchandise.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <h1>Toolset.</h1>
    </div>
    <div class="section-content">
      <div class="card">
        <div class="card-content">
          <div class="icons">
            <img src="../../assets/Icons/html.svg" alt="" />
            <img src="../../assets/Icons/css.svg" alt="" />
            <img src="../../assets/Icons/js.svg" alt="" />
            <img src="../../assets/Icons/node.svg" alt="" />
            <img src="../../assets/Icons/ng.svg" alt="" />
            <img src="../../assets/Icons/rails.svg" alt="" />
            <img src="../../assets/Icons/mongo.svg" alt="" />
            <img src="../../assets/Icons/fb.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
